<header class="header header--island header--float">
    <div class="header__container">
        <button class="js-menu-opener header__burger" type="button" title="Меню">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#menu" />
            </svg>
        </button>

        <div class="header__logo">
            <a href="#">
                <img src="images/logo.svg" alt="CRYPTOMATIC">
            </a>
        </div>

        <nav class="main-menu">
            <div class="main-menu__inner">
                <ul class="js-main-menu main-menu__list">
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#1">Начало</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#2">О проекте</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#3">Обучающий курс</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#4">FAQ</a>
                    </li>
                </ul>
            </div>

            <button class="js-menu-closer main-menu__closer" type="button" title="Закрыть меню">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#close" />
                </svg>
            </button>
        </nav>

        <a class="header__button button button--green button--bordered" href="#"><span>Вход / Регистрация</span></a>
    </div>
</header>