.course {
    &__inner {
        background-color: var(--black_2);
        border-radius: 24px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    h2 {
        font-size: 32px;
        font-weight: 800;
        margin: 0;
        @media(min-width: $hd) {
            font-size: 56px;
        }

        small {
            display: block;
            font-size: 33.33333%;
            font-weight: 600;
            line-height: 1;
        }
    }
}