.results {
    h2 {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
        padding-top: 1.25em;
        padding-bottom: 1.25em;
        @media(min-width: $hd) {
            font-size: 32px;
        }
    }
}

.results-slider-container {
    position: relative;
    z-index: 1;

    img {
        border-radius: 12px;
        display: block;
    }

    .swiper-button-next,
    .swiper-button-prev {
        @include button-reset;
        align-items: center;
        background-color: var(--black_3);
        border-radius: 12px;
        display: flex;
        justify-content: center;
        height: 64px;
        margin-top: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 64px;
        @media(max-width: $lg - 0.01px) {
            opacity: 0.5;
        }

        &::after {
            display: none;
        }

        svg {
            fill: var(--light);
            height: 24px;
            width: 24px;
        }
    }

    .swiper-button-next {
        @media(min-width: $lg) {
            right: -76px;
        }
    }

    .swiper-button-prev {
        @media(min-width: $lg) {
            left: -76px;
        }
    }
}