<section id="2" class="about page-section">
    <div class="about__inner container">
        <h2><small>О проекте</small> Crypto<span class="color-green">Matic</span></h2>

        <div class="about__text">
            <p>Идея проекта состоит в создании комьюнити, которое работает с торговыми ботами на бирже BYBIT. Наша команда создала авторский курс: Алготрейдинг, который поможет освоить тонкости анализа рынка криптовалют и научит пользоваться
                торговыми ботами для создания пассивного источника дохода.</p>
            <p>Наш проект обладает уникальным инструментарием, который поможет Вам более точно настроить вашего торгового бота и поднять Ваши показатели на новый уровень.</p>
        </div>
    </div>
</section>