<section id="1" class="banner page-section">
    <div id="canvas" class="banner__canvas"></div>
    <div class="banner__content">
        <h1 class="banner__title">Алготрейдинг</h1>
        <p class="banner__text">Торговля криптовалютой с максимальным доходом</p>
    </div>
    <div class="banner__socials">
        <a class="banner__social" href="#" title="Наш Telegram" target="_blank" rel="nofollow noreferrer">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#tg" />
            </svg>
        </a>

        <a class="banner__social" href="#" title="Мы Вконтакте" target="_blank" rel="nofollow noreferrer">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#vk" />
            </svg>
        </a>

        <a class="banner__social" href="#" title="Мы на YouTube" target="_blank" rel="nofollow noreferrer">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#yt" />
            </svg>
        </a>
    </div>
</section>