<section id="3" class="course page-section">
    <div class="course__inner container">
        <div class="course__block-1">
            <div>
                <h2><small>Представляем</small> Обучающий <span class="color-green">курс</span></h2>
                <p>Курс нацелен на всеобъемлющее изучение торговых ботов, параметров их настроек и создание собственной стратегии. Обучение строится через структурированную и понятную простому человеку информацию. А дополнительные материалы и
                    домашние задания помогут лучше усваивать материал , закрепляя теорию практикой.</p>
                <p>Курс представлен в видео формате и разделен на короткие занятия по 20-30 минут. А если в процессе изучения у Вас появятся затруднения, Наша команда всегда сможет вам помочь.</p>
            </div>
            <img src="images/content/course/img_1.svg" alt="">
        </div>

        <div class="course__block-2">
            <h2>Что входит в <span class="color-green">курс?</span></h2>

            <div class="course-about">
                <div class="course-part">
                    <button class="js-course-part-toggler course-part__toggler" type="button">
                        Знакомство с терминалом и рынком <span>криптовалют <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#chevron_down" /></svg></span>
                    </button>
                    <div class="course-part__body">
                        <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</p>
                        <p>Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто
                            повторяют, пока не достигнут нужный объём.</p>
                        <p>Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum
                            выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
                    </div>
                </div>

                <div class="course-part">
                    <button class="js-course-part-toggler course-part__toggler" type="button">
                        Основные операции на <span>рынке <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#chevron_down" /></svg></span>
                    </button>
                    <div class="course-part__body">
                        <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</p>
                        <p>Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто
                            повторяют, пока не достигнут нужный объём.</p>
                        <p>Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum
                            выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
                    </div>
                </div>

                <div class="course-part">
                    <button class="js-course-part-toggler course-part__toggler" type="button">
                        Инструменты для анализа <span>рынка <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#chevron_down" /></svg></span>
                    </button>
                    <div class="course-part__body">
                        <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</p>
                        <p>Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто
                            повторяют, пока не достигнут нужный объём.</p>
                        <p>Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum
                            выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
                    </div>
                </div>

                <div class="course-part">
                    <button class="js-course-part-toggler course-part__toggler" type="button">
                        Виды торговых ботов и их <span>функционал <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#chevron_down" /></svg></span>
                    </button>
                    <div class="course-part__body">
                        <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</p>
                        <p>Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто
                            повторяют, пока не достигнут нужный объём.</p>
                        <p>Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum
                            выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
                    </div>
                </div>

                <div class="course-part">
                    <button class="js-course-part-toggler course-part__toggler" type="button">
                        Настройка и запуск торговых <span>ботов <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#chevron_down" /></svg></span>

                    </button>
                    <div class="course-part__body">
                        <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</p>
                        <p>Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто
                            повторяют, пока не достигнут нужный объём.</p>
                        <p>Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum
                            выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="course__block-3">
            <h2>Прогрессивная <span class="color-green">тарификация</span></h2>

            <p>Специально для наших абитуриентов мы запускаем систему кэшбека за Ваши достижения!</p>
            <p>Базовая стоимость курса составляет <span class="color-green">30&nbsp;000&nbsp;рублей</span> – при этом, чем больший торговый оборот Вы совершите, тем больший кэшбек вернется Вам на криптовалютный кошелек.</p>

            <div class="table-outer">
                <div class="table">
                    <table>
                        <tr>
                            <th>Торговый оборот, USDT</th>
                            <td>1 000 000 USDT</td>
                            <td>2 000 000 USDT</td>
                            <td>3 000 000 USDT</td>
                        </tr>
                        <tr>
                            <th>Кэшбек</th>
                            <td><b>25%</b></td>
                            <td><b>50%</b></td>
                            <td><b>75%</b></td>
                        </tr>
                    </table>
                </div>
            </div>

            <p><span class="color-green">Важно:</span> для получения кэшбека, вы должны быть зарегистрированы по нашей партнерской программе и совершить торговый оборот в течение месяца после покупки курса согласно информации в таблице.</p>

            <div class="course__button-block"><a class="fancy-button" href="#"><span>Записаться на курс</span></a></div>
        </div>
    </div>
</section>