<section id="4" class="faq page-section">
    <div class="container">
        <h2>Часто задаваемые <span class="color-green">вопросы</span></h2>

        <div class="accordion">
            <button class="accordion__toggler" type="button">
                <span>Что такое торговый бот?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Торговый бот — это программа, используемая для автоматизации сделок и принятия решения о покупке или продаже на основе рыночных данных и заранее определенных правил.</p>
                <p>Для начало работы Вам нужно связать свою биржу по API ключам с торговым ботом и установить определенные параметры, чтобы указать боту, как действовать.</p>
            </div>
        </div>

        <div class="accordion">
            <button class="accordion__toggler" type="button">
                <span>Как работают торговые боты?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Торговый бот будет автоматически выполнять мониторинг рынка и совершать множество сделок без вашего непосредственного участия, получая прибыль круглосуточно, а также и исключая человеческий фактор.</p>
            </div>
        </div>

        <div class="accordion">
            <button class="accordion__toggler" type="button">
                <span>Выгодны ли боты для торговли криптовалютой?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Конечно, боты для торговли криптовалютой делают торговлю более эффективной, поскольку они могут работать в многозадачном режиме, проводить анализ нескольких криптовалют, проводить сделки, сканировать рынок и т. д. Нет никаких
                    шансов, что Ваш бот упустит возможность, как это сделал бы человек.</p>
            </div>
        </div>

        <div class="accordion">
            <button class="accordion__toggler" type="button">
                <span>Опасна ли автоматическая торговля?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Нет, если соблюдать риск-менеджмент и Наши рекомендации, Вы сможете уберечь себя от ликвидации сделок при волатильности рынка.</p>
                <p>Для большей безопасности перед запуском торгового бота выставленные Вами настройки можно проверить на исторических данных, а также есть видео инструкция, где подробно раскрыта каждая настройка.</p>
            </div>
        </div>

        <div class="accordion">
            <button class="accordion__toggler" type="button">
                <span>Сколько можно заработать, пользуясь торговыми ботами?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Много!</p>
            </div>
        </div>

        <p class="faq__note">Если у вас остались вопросы, <a href="mailto:texpomosh@one-shopw.com">напишите нам</a> и мы с радостью на них ответим. </p>
    </div>
</section>